html body h1 ul {
    margin:0;
    padding:0;
}

body {
    background-image: url("./ciel.jpg");
    color:white;
    overflow:hidden;
    transform:perspective(300px) rotateX(20deg);
}

.getDown {
    height:600px;
}

main {
    margin:0 auto;
    width:70%;
    text-align: center;
    animation: crawl 60s linear;
}

@keyframes crawl {
    0% {
        top: 0;
        transform: rotateX(20deg)  translateZ(0);
    }
    100% {
        top: 6000px;
        transform: rotateX(25deg) translateZ(2500px);
    }
}

h1 {
    color:blue;
}

p {opacity: 0; }

.p1 {
    animation: load_p1 4s linear;
    animation-fill-mode: forwards;
}

.p2 {
    animation: load_p1 4s linear;
    animation-fill-mode: forwards;
    animation-delay: 4s;
}
.p3 {
    animation: load_p1 4s linear;
    animation-fill-mode: forwards;
    animation-delay: 8s;
}
.p4 {
    animation: load_p1 4s linear;
    animation-fill-mode: forwards;
    animation-delay: 12s;
}
.p5 {
    animation: load_p1 4s linear;
    animation-fill-mode: forwards;
    animation-delay: 16s;
}
.p6 {
    animation: load_p1 4s linear;
    animation-fill-mode: forwards;
    animation-delay: 20s;
}
.p7 {
    animation: load_p1 4s linear;
    animation-fill-mode: forwards;
    animation-delay: 23s;
}
.p8 {
    animation: load_p1 4s linear;
    animation-fill-mode: forwards;
    animation-delay: 27s;
}
.p9 {
    animation: load_p1 4s linear;
    animation-fill-mode: forwards;
    animation-delay: 31s;
}
.p10 {
    animation: load_p1 4s linear;
    animation-fill-mode: forwards;
    animation-delay: 35s;
}

@keyframes load_p1 {
    0% { opacity:0;  }
    100% { opacity:1;  }
}